extends ../template.pug

block head
  +head('Форма отзыва')

block header
  header.header
    +navigation('Форма отзыва')

block content
  +lead
  section.review
    h1.review__title.title.title--secondary Оставьте свой отзыв
    p.review__description.description
      | Помогите нашим отелям стать лучше! оставьте отзыв о них, а также о
      | посещенных вами
      | достопримечательностях
    form.review__form.form(
      action='https://echo.htmlacademy.ru/'
      method='post')
      fieldset.form__fieldset
        h2.form__legend.title.title--secondary Представьтесь:
        ul.form__list
          li.form__item
            label.form__label.description(for='name') Имя*:
            input#name.form__field.input.field(
              type='text'
              name='name'
              placeholder='Пётр'
              required)
          li.form__item
            label.form__label.description(for='surname') Фамилия*:
            input#surname.form__field.input.field(
              type='text'
              name='surname'
              placeholder='Пустота'
              required)
          li.form__item
            label.form__label.description(for='patronymic') Отчество:
            input#patronymic.form__field.input.field(
              type='text'
              name='patronymic'
              placeholder='Викторович')
      fieldset.form__fieldset
        h2.form__legend.title.title--secondary Контактная информация:
        ul.form__list
          li.form__item
            label.form__label.description(for='phone') Контактный телефон*:
            input#phone.form__field.input.field(
              type='tel'
              name='phone'
              placeholder='Введите телефон'
              required)
          li.form__item
            label.form__label.description(for='email') Электронная почта*:
            input#email.form__field.input.field(
              type='email'
              name='email'
              placeholder='Введите e-mail'
              required)
      fieldset.form__fieldset
        h2.form__legend.title.title--secondary Ваше общее впечатление:
        ul.form__list
          li.form__item
            label.form__control
              input.form__field.radio-input(
                type='radio'
                name='impression'
                value='positive'
                checked)
              span.form__label.description Скорее положительное
          li.form__item
            label.form__control
              input.form__field.radio-input(
                type='radio'
                name='impression'
                value='negative')
              span.form__label.description Скорее отрицательное
          li.form__item
            label.form__control
              input.form__field.radio-input(
                type='radio'
                name='impression'
                value='difficult')
              span.form__label.description Затрудняюсь ответить
      fieldset.form__fieldset
        h2.form__legend.title.title--secondary Посещённые достопримечательности:
        ul.form__list
          li.form__item
            label.form__control
              input.form__field.checkbox-input(
                type='checkbox'
                name='devils-bridge'
                checked)
              span.form__label.description Мост Дьявола
          li.form__item
            label.form__control
              input.form__field.checkbox-input(
                type='checkbox'
                name='bell-mountain'
                checked)
              span.form__label.description Гора-Колокол
          li.form__item
            label.form__control
              input.form__field.checkbox-input(
                type='checkbox'
                name='slide-park'
                checked)
              span.form__label.description Слайд-парк
          li.form__item
            label.form__control
              input.form__field.checkbox-input(
                type='checkbox'
                name='red-rocks')
              span.form__label.description Красные скалы
      fieldset.form__fieldset
        h2.form__legend.title.title--secondary Опишите свои эмоции:
        textarea.form__textarea.textarea.field(
          name='comment') Опишите подробно все свои восторги
      .form__footer
        button.form__button.button.button--primary(type='submit') Отправить отзыв
        p.form__footnote.footnote
          small.footnote__text
            sup *
            |  — обязательные поля
