extends ../template.pug

block head
  +head('Фото и видео')

block header
  header.header
    +navigation('Фото и видео')

block content
  +lead
  section.gallery
    h1.gallery__title.title.title--secondary Фото и видео
    p.gallery__description.description
      | Не можете решиться на путешествие из-за курса? Фотографии помогут вам
      | забыть о политике и экономике.
    ul.gallery__list
      li.gallery__item.product-card
        a.product-card__image-wrapper(href="")
          picture
            source(
              type='image/webp'
              media='(min-width: 1024px)'
              srcset='img/gallery-1-desktop.webp 1x, img/gallery-1-desktop@2x.webp 2x'
              width='1200'
              height='400')
            source(
              type='image/webp'
              media='(min-width: 640px)'
              srcset='img/gallery-1-tablet.webp 1x, img/gallery-1-tablet@2x.webp 2x'
              width='648'
              height='400')
            source(
              type='image/webp'
              srcset='img/gallery-1-mobile.webp 1x, img/gallery-1-mobile@2x.webp 2x'
              width='280'
              height='280')
            source(
              media='(min-width: 1024px)'
              srcset='img/gallery-1-desktop.jpg 1x, img/gallery-1-desktop@2x.jpg 2x'
              width='1200'
              height='400')
            source(
              media='(min-width: 640px)'
              srcset='img/gallery-1-tablet.jpg 1x, img/gallery-1-tablet@2x.jpg 2x'
              width='648'
              height='400')
            img.product-card__image(
              src='img/gallery-1-mobile.jpg'
              srcset='img/gallery-1-mobile@2x.jpg 2x'
              width='280'
              height='280'
              alt='')
        .product-card__content-wrapper
          h3.product-card__title Неродные просторы
          p.product-card__author
            | Автор фото:&nbsp;
            span.product-card__author-name Борис
          p.product-card__likes
            span.product-card__likes-count 1350
      li.gallery__item.product-card
        a.product-card__image-wrapper(href="")
          picture
            source(
              type='image/webp'
              media='(min-width: 1024px)'
              srcset='img/gallery-2-desktop.webp 1x, img/gallery-2-desktop@2x.webp 2x'
              width='1200'
              height='400')
            source(
              type='image/webp'
              media='(min-width: 640px)'
              srcset='img/gallery-2-tablet.webp 1x, img/gallery-2-tablet@2x.webp 2x'
              width='648'
              height='400')
            source(
              type='image/webp'
              srcset='img/gallery-2-mobile.webp 1x, img/gallery-2-mobile@2x.webp 2x'
              width='280'
              height='280')
            source(
              media='(min-width: 1024px)'
              srcset='img/gallery-2-desktop.jpg 1x, img/gallery-2-desktop@2x.jpg 2x'
              width='1200'
              height='400')
            source(
              media='(min-width: 640px)'
              srcset='img/gallery-2-tablet.jpg 1x, img/gallery-2-tablet@2x.jpg 2x'
              width='648'
              height='400')
            img.product-card__image(
              src='img/gallery-2-mobile.jpg'
              srcset='img/gallery-2-mobile@2x.jpg 2x'
              width='280'
              height='280'
              alt='')
        .product-card__content-wrapper
          h3.product-card__title Местная растительность
          p.product-card__author
            | Автор фото:&nbsp;
            span.product-card__author-name Сергей
          p.product-card__likes
            span.product-card__likes-count 143
      li.gallery__item.product-card
        a.product-card__image-wrapper(href="")
          picture
            source(
              type='image/webp'
              media='(min-width: 1024px)'
              srcset='img/gallery-3-desktop.webp 1x, img/gallery-3-desktop@2x.webp 2x'
              width='1200'
              height='400')
            source(
              type='image/webp'
              media='(min-width: 640px)'
              srcset='img/gallery-3-tablet.webp 1x, img/gallery-3-tablet@2x.webp 2x'
              width='648'
              height='400')
            source(
              type='image/webp'
              srcset='img/gallery-3-mobile.webp 1x, img/gallery-3-mobile@2x.webp 2x'
              width='280'
              height='280')
            source(
              media='(min-width: 1024px)'
              srcset='img/gallery-3-desktop.jpg 1x, img/gallery-3-desktop@2x.jpg 2x'
              width='1200'
              height='400')
            source(
              media='(min-width: 640px)'
              srcset='img/gallery-3-tablet.jpg 1x, img/gallery-3-tablet@2x.jpg 2x'
              width='648'
              height='400')
            img.product-card__image(
              src='img/gallery-3-mobile.jpg'
              srcset='img/gallery-3-mobile@2x.jpg 2x'
              width='280'
              height='280'
              alt='')
        .product-card__content-wrapper
          h3.product-card__title Дорога на север
          p.product-card__author
            | Автор фото:&nbsp;
            span.product-card__author-name Петр
          p.product-card__likes
            span.product-card__likes-count 96
      li.gallery__item.product-card
        a.product-card__image-wrapper(href="")
          picture
            source(
              type='image/webp'
              media='(min-width: 1024px)'
              srcset='img/gallery-4-desktop.webp 1x, img/gallery-4-desktop@2x.webp 2x'
              width='1200'
              height='400')
            source(
              type='image/webp'
              media='(min-width: 640px)'
              srcset='img/gallery-4-tablet.webp 1x, img/gallery-4-tablet@2x.webp 2x'
              width='648'
              height='400')
            source(
              type='image/webp'
              srcset='img/gallery-4-mobile.webp 1x, img/gallery-4-mobile@2x.webp 2x'
              width='280'
              height='280')
            source(
              media='(min-width: 1024px)'
              srcset='img/gallery-4-desktop.jpg 1x, img/gallery-4-desktop@2x.jpg 2x'
              width='1200'
              height='400')
            source(
              media='(min-width: 640px)'
              srcset='img/gallery-4-tablet.jpg 1x, img/gallery-4-tablet@2x.jpg 2x'
              width='648'
              height='400')
            img.product-card__image(
              src='img/gallery-4-mobile.jpg'
              srcset='img/gallery-4-mobile@2x.jpg 2x'
              width='280'
              height='280'
              alt='')
        .product-card__content-wrapper
          h3.product-card__title Мост дьявола
          p.product-card__author
            | Автор фото:&nbsp;
            span.product-card__author-name Антон
          p.product-card__likes
            span.product-card__likes-count 254
  section.presentation
    h2.presentation__title.title.title--secondary Все еще сомневаетесь?
    p.presentation__description.description
      | Смотрите видеопрезентацию и скорее за билетами,
      | пока они не подорожали в очередной раз!
    .presentation__video.video
      a.video__link(href='#' tabindex='-1')
        picture
          source(
            type='image/webp'
            media='(min-width: 1024px)'
            srcset='img/video-desktop.webp 1x, img/video-desktop@2x.webp 2x'
            width='800'
            height='500')
          source(
            type='image/webp'
            media='(min-width: 640px)'
            srcset='img/video-tablet.webp 1x, img/video-tablet@2x.webp 2x'
            width='648'
            height='500')
          source(
            type='image/webp'
            srcset='img/video-mobile.webp 1x, img/video-mobile@2x.webp 2x'
            width='280'
            height='177')
          source(
            media='(min-width: 1024px)'
            srcset='img/video-desktop.jpg 1x, img/video-desktop@2x.jpg 2x'
            width='800'
            height='500')
          source(
            media='(min-width: 640px)'
            srcset='img/video-tablet.jpg 1x, img/video-tablet@2x.jpg 2x'
            width='648'
            height='500')
          img.video__image(
            src='img/video-mobile.jpg'
            srcset='img/video-mobile@2x.jpg 2x'
            width='280'
            height='177'
            alt='Видеопрезентация о Седоне.')
        button.video__button
          span.visually-hidden Запустить видео.
