extends ../template.pug

block head
  +head('Главная')

block header
  header.header
    +navigation('Главная')

block content
  h1.visually-hidden Неофициальный сайт города Седона.
  section.hero.triangle-decor
    img.hero__image(
      src='img/sprite.svg#hero-text'
      width='282'
      height='214'
      alt='Добро пожаловать в великолепную Седону, потому что Гранд-Каньон отстой!')
  section.advantages
    h2.visually-hidden Преимущества Седоны.
    p.advantages__title.title.title--primary Седона &ndash; небольшой городок в Аризоне,
      br
      | заслуживающий большего!
    p.advantages__description.description Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!
    .advantages__wrapper
      ul.advantages__list
        li.advantages__item.card
          .card__wrapper
            h3.card__title.title.title--primary Настоящий городок
            p.card__description.description Седона не аттракцион для туристов, там&nbsp;течёт своя жизнь
          picture
            source(
              type='image/webp'
              media='(min-width: 1024px)'
              srcset='img/city-desktop.webp 1x, img/city-desktop@2x.webp 2x'
              width='800'
              height='256')
            source(
              type='image/webp'
              media='(min-width: 640px)'
              srcset='img/city-tablet.webp 1x, img/city-tablet@2x.webp 2x'
              width='512'
              height='256')
            source(
              type='image/webp'
              srcset='img/city-mobile.webp 1x, img/city-mobile@2x.webp 2x'
              width='320'
              height='260')
            source(
              media='(min-width: 1024px)'
              srcset='img/city-desktop.jpg 1x, img/city-desktop@2x.jpg 2x'
              width='800'
              height='256')
            source(
              media='(min-width: 640px)'
              srcset='img/city-tablet.jpg 1x, img/city-tablet@2x.jpg 2x'
              width='512'
              height='256')
            img.card__image(
              src='img/city-mobile.jpg'
              srcset='img/city-mobile@2x.jpg 2x'
              width='320'
              height='260'
              alt='Город Седона.')
          section.card__services.services
            h2.visually-hidden Услуги городка.
            ul.services__list
              li.services__item.services__item--house
                h3.services__title.title.title--primary Жильё
                p.services__description.description Рекомендуем пожить в настоящем мотеле, всё как в кино!
              li.services__item.services__item--food
                h3.services__title.title.title--primary Еда
                p.services__description.description Всегда заказывайте фирменный бургер, вы&nbsp;не&nbsp;разочаруетесь!
              li.services__item.services__item--gift
                h3.services__title.title.title--primary Сувениры
                p.services__description.description Не только китайского,
                  br
                  |  но и местного производства!
        li.advantages__item.card
          .card__wrapper
            h3.card__title.title.title--primary Там есть мост дьявола
            p.card__description.description Да, по нему можно пройти! Если вы осмелитесь, конечно
          picture
            source(
              type='image/webp'
              media='(min-width: 1024px)'
              srcset='img/bridge-desktop.webp 1x, img/bridge-desktop@2x.webp 2x'
              width='800'
              height='256')
            source(
              type='image/webp'
              media='(min-width: 640px)'
              srcset='img/bridge-tablet.webp 1x, img/bridge-tablet@2x.webp 2x'
              width='512'
              height='256')
            source(
              type='image/webp'
              srcset='img/bridge-mobile.webp 1x, img/bridge-mobile@2x.webp 2x'
              width='320'
              height='260')
            source(
              media='(min-width: 1024px)'
              srcset='img/bridge-desktop.jpg 1x, img/bridge-desktop@2x.jpg 2x'
              width='800'
              height='256')
            source(
              media='(min-width: 640px)'
              srcset='img/bridge-tablet.jpg 1x, img/bridge-tablet@2x.jpg 2x'
              width='512'
              height='256')
            img.card__image(
              src='img/bridge-mobile.jpg'
              width='320'
              height='260'
              alt='Мост дьявола.')
        li.advantages__item.card
          .card__wrapper
            h3.card__title.title.title--primary Небольшая площадь
            p.card__description.description Все интересные места находятся очень близко
        li.advantages__item.card
          .card__wrapper
            h3.card__title.title.title--primary Красивая дорога
            p.card__description.description Ехать в Седону из Лас‑Вегаса совсем&nbsp;не&nbsp;скучно!
        li.advantages__item.card
          .card__wrapper
            h3.card__title.title.title--primary Мало туристов
            p.card__description.description Большинство едет в Гранд Каньон и&nbsp;толпится&nbsp;там
  section.hotel-search
    h2.visually-hidden Поиск гостиницы.
    p.hotel-search__title.title Заинтересовались?
    p.hotel-search__description.description
      | Укажите предполагаемые даты поездки,
      br
      | и мы покажем вам лучшие предложения
      | гостиниц в Седоне
    a.hotel-search__button.button(href='#') Найти гостиницу
  section.location
    h2.visually-hidden Местоположение на карте.
    #map.location__map
    picture
      source(
        type='image/webp'
        media='(min-width: 1024px)'
        srcset='img/map-desktop.webp 1x, img/map-desktop@2x.webp 2x'
        width='1200'
        height='350')
      source(
        type='image/webp'
        media='(min-width: 640px)'
        srcset='img/map-tablet.webp 1x, img/map-tablet@2x.webp 2x'
        width='768'
        height='350'
      )
      source(
        type='image/webp'
        srcset='img/map-mobile.webp 1x, img/map-mobile@2x.webp 2x'
        width='320'
        height='350'
      )
      source(
        media='(min-width: 1024px)'
        srcset='img/map-desktop.png 1x, img/map-desktop@2x.png 2x'
        width='1200'
        height='350')
      source(
        media='(min-width: 640px)'
        srcset='img/map-tablet.png 1x, img/map-tablet@2x.png 2x'
        width='768'
        height='350')
      img.location__map-image(
        src='img/map-mobile.png'
        srcset='img/map-mobile@2x.png 2x'
        width='320'
        height='350'
        alt='Седона на карте, расположенная по обе стороны границы между округами Коконино и Явапаи в северной части долины Верде штата Аризона.'
      )
