mixin footer
  footer.footer
    .footer__wrapper
      p.footer__hashtag #VisitSedona
      +social
      a.academy-logo(
        href='https://htmlacademy.ru/intensive/adaptive'
        aria-label='Сайт HTML Academy.'
        target='_blank')
        span.academy-logo__text Разработано
        svg.academy-logo__image(
          width='27'
          height='34')
          use(href='img/sprite.svg#htmlacademy')
