- var links = [{'Главная':'index.html'}, {'Фото и видео':'gallery.html'}, {'Форма отзыва':'form.html'}, {'Html Academy':'https://htmlacademy.ru/study'}]

mixin navigation(currentPage='Главная', items=links)
  nav.navigation
    .navigation__hat
      a.navigation__logo.logo(href='index.html')
        img.logo__image(src='img/sprite.svg#logo' width='186' height='96' alt='Логотип Седоны.')
      button.navigation__button(type='button')
        span.navigation__clue.visually-hidden Открыть меню
        span.navigation__toggle
    ul.navigation__list
      each item in items
        li.navigation__item
          each href, value in item
            a.navigation__link(
              href= href
              target=(value === 'Html Academy' ? '_blank' : '')
              aria-current='page'
              class=(value === currentPage ? 'navigation__link--current' : ''))= value
